body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    margin: 1em; /* Remove default margin */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
}

.logo {
    width: 48px; /* Adjust the size as needed */
    height: 48px; /* Adjust the size as needed */
    background: url('../icons/logo.svg') no-repeat center center;
    background-size: contain;
    margin: 1em;
}

#last-synced {
    margin: 1em;
    width: 10em;
}

#sync-button {
    margin: 1em;
    width: 10em;
}