@import url("../common.css");

body {
    font-family: Arial, sans-serif;
    margin: 1em;
    font-size: medium;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: medium;
}

img {
    width: 1em;
    height: 1em;
}

.success {
    color: green;
}

.error {
    color: red;
}

.button-text-black {
    padding: 1em;
    color: #000;
}

.container {
    display: flex;
    flex-direction: row;
}

#status {
    margin-top: 1em;
}

#save-button {
    background-color: #28a745;
}

#test-button {
    background-color: #007bff;
}

#clear-tombstones-button {
    background-color: #dc3545;
}

select {
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: medium;
    margin-right: 1em;
}

h2 {
    margin-top: 2em;
}

#tombstone-count {
    font-weight: bold;
}
