body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    width: 48px; /* Adjust the size as needed */
    height: 48px; /* Adjust the size as needed */
    background: url('../icons/logo.svg') no-repeat center center;
    background-size: contain;
    border: 2px solid transparent; /* Add a transparent border */
    border-radius: 5px; /* Add some border-radius for a button-like appearance */
    cursor: pointer;
    outline: none;
    margin: 1em;
}

#sync-status {
    margin: 1em;
}